<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL" value="channelsTanmay.com"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleniumAuto.MarutiCar">
       <methods>
       	<exclude name="catlog"/>
       </methods>
      </class>
      </classes>
  </test>
  
      <test name="Test1">
      	<classes>
      		
      		<class name="SeleniumAuto.ToyotaCar"/>
      		<class name="SeleniumAuto.AudiCar"/>
    	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
